{% load i18n %}
{% autoescape off %}
Здравствуйте!

Мы получили запрос на сброс пароля для вашей учетной записи. Если вы не делали этот запрос,
пожалуйста, проигнорируйте это письмо.
Чтобы сбросить ваш пароль, нажмите на ссылку ниже (или скопируйте и вставьте URL в ваш браузер):
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Эта ссылка для сброса пароля будет действительна в течении {{ expiration_days }} дней.

С уважением,
Команда {{ site_name }}
{% endautoescape %}